body {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffh260%2Fback_our%2F20190621%2Fourmid%2Fpngtree-blood-donation-art-free-simple-white-banner-image_180424.jpg&imgrefurl=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds-photos%2Fblood-donation&tbnid=eudxxpcqeaDkqM&vet=12ahUKEwjkxL6vm6b9AhX0yXMBHfmNDSkQMygGegUIARDSAQ..i&docid=Gz-S1uiq3gy-TM&w=624&h=260&q=blood%20donation%20app%20background&ved=2ahUKEwjkxL6vm6b9AhX0yXMBHfmNDSkQMygGegUIARDSAQ");
    background-attachment:scroll;
    background-repeat: no-repeat;
    height:550%;
    background-size: 1550px 800px;
  }