body {
    background-image: url("https://cdn.wallpapersafari.com/11/32/8d1c9h.png");
    background-attachment:scroll;
    background-repeat: no-repeat;
    height:550%;
    background-size: 1550px 800px;
  }